.errorpage{
  font-family: Tahoma, Verdana,  Arial, Helvetica, sans-serif;
  color: #888;
  font-size: 12px;
}

.errorpage h1{
  font-family: Tahoma, Verdana,  Arial, Helvetica, sans-serif;
  color: #444;
  font-size: 20px;
}

.errorpage hr{
  color: #888;
}