/* ------------------------------------------------------------------------ */
/* style for client side sortable tables... */

.sortarrow {
}

.sortable {
  font-family: Tahoma, Verdana,  Arial, Helvetica, sans-serif;
  font-size: 11px;
  padding: 0px;
  margin: 5px 0px 5px;
  border-collapse: collapse;
  border-color: #888;
  border-top: 1px solid #888;
  border-left: 1px solid #888;
  border-bottom: 1px solid #888;
  border-right: 1px solid #888;
}

.sortable th {
  font-family: Tahoma, Verdana,  Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: #333;
  font-weight: bold;
  padding: 2px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 2px solid #888;
}

.sortable td {
  font-family: Tahoma, Verdana,  Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: #333;
  padding: 2px;
  border: 0px;
}

.sortheader {
  color: #369;
  text-decoration: none;
}
