/* ------------------------------------------------------------------------ */
/* Tabs */

.dropcontent {
  display: block; /* */
  border: 1px solid #DDD;
  padding: 2px;
  margin: 0px;
}

.tabstyle {
  cursor: pointer; /* or Hand */
  width: 80px;
  height:32px;
  padding: 2px;
  font: 11px verdana; /* */
  background-color: #FFF; /* lightyellow; */
  border-top: 1px solid #DDD;
  border-right: 1px solid #DDD;
  border-left: 1px outset #FFE;
/* border-bottom: 2px solid #FFF; */
}

.tabstyle b {
  color: #000; /* blue; */
  margin-left: 1px; /* 3px; */
  margin-right: 1px; /* 23px; */
}